.container {
    display: flex;
    flex-direction: row;
    /*flex-direction: column;*/
    justify-content: space-around;
    align-items: center;
    border: solid 2px;
    height: 300px;
}
.container > div{
    border: dotted 1px;
}