.container {
    display: grid;
    /*grid-template-columns: 2fr 1fr;*/
    grid-gap: 20px;
    grid-template:
       'item3 item3 '
       'item1 item2 ' 
       'item4 item4 '
}

.container > div{
    display: flex;
    justify-content: center;
    border: dotted 1px;
}
.item1 {
    grid-area: item1;
}
.item2 {
    grid-area: item2;
}
.item3 {
    grid-area: item3;
}
.item4 {
    grid-area: item4;
}